body {
    background: url("resources/main_menu_background.jpg") fixed;
    background-position: center center;
    background-size: cover;
}

div {
    font-weight: 900;
    font-size: 400%;
    margin-left: 50%;
    margin-top: 2%;
    color: gainsboro;
}

.button {
    text-decoration: none;
    color: darkslategrey;
    margin-left: 15%;
    font-size: 70%;
    background-color: aliceblue;
    width: 60%;
    line-height: 2em;
    text-align: center;
    display: block;
    border: 2px solid black;
}